body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.card {
    background: #eef;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.minicards label {
    display: block;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    border: none;
    background-color: #2a9d8f;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #21867a;
}

.erro {
    color: red;
}
